<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="sqlConnection1.ConnectionString" value="packet size=4096;data source=(local);persist security info=True;initial catalog=Northwind;Integrated Security=SSPI" />
	</appSettings>
</configuration>